---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/webhook_endpoints
    body:
      encoding: UTF-8
      string: '{"url":"https://example.com/zazu-webhooks","events":["payment_link.paid"],"description":"SDK
        fixture endpoint"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b285502682b08f19a6352c5b4cf6f947"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019df248-c536-7e9a-97f0-11ae759eae8d","url":"https://example.com/zazu-webhooks","description":"SDK
        fixture endpoint","events":["payment_link.paid"],"status":"active","consecutive_failures":0,"disabled_at":null,"created_at":"2026-05-04T10:19:08+01:00","updated_at":"2026-05-04T10:19:08+01:00","signing_secret":"2160fea82f40b16fd7cfcf161a241564a30544358ab7c8d3ebc3a704d541ad91"}'
  recorded_at: Mon, 04 May 2026 09:19:08 GMT
recorded_with: VCR 6.4.0
