---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/webhook_endpoints
    body:
      encoding: UTF-8
      string: '{"url":"https://example.com/zazu-webhooks","events":["payment_link.paid"],"description":"SDK
        fixture endpoint"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7231705a6782e7ac4c72e40532c911ab"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019dedf9-7557-71f3-8095-ed00193e8fe9","url":"https://example.com/zazu-webhooks","description":"SDK
        fixture endpoint","events":["payment_link.paid"],"status":"active","consecutive_failures":0,"disabled_at":null,"created_at":"2026-05-03T14:14:01+01:00","updated_at":"2026-05-03T14:14:01+01:00","signing_secret":"55f179865f7873da3d927290cc7473fb51c0c58912a59d22676f3a6a7053829b"}'
  recorded_at: Sun, 03 May 2026 13:14:01 GMT
recorded_with: VCR 6.4.0
