---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/webhook_endpoints/fixture-enabled-webhook-id/disable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20644bfe160ab42afaf2aa883a48a948"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fixture-enabled-webhook-id","url":"https://example.com/zazu-fixture-enabled-3445ad4a","description":"[zazu-ruby-fixture]
        enabled","events":["payment_link.paid"],"status":"disabled","consecutive_failures":0,"disabled_at":"2026-05-07T08:25:24+01:00","created_at":"2026-05-07T08:24:59+01:00","updated_at":"2026-05-07T08:24:59+01:00"}'
  recorded_at: Thu, 07 May 2026 07:25:24 GMT
recorded_with: VCR 6.4.0
