---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/webhook_endpoints/019df248-7047-7d3b-a196-84d53314cf9b/enable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a68dd1f0375ee0f4131f57a7b67eb371"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019df248-7047-7d3b-a196-84d53314cf9b","url":"https://example.com/zazu-fixture-disabled-e6d76479","description":"[zazu-ruby-fixture]
        disabled","events":["payment_link.paid"],"status":"active","consecutive_failures":0,"disabled_at":null,"created_at":"2026-05-04T10:18:46+01:00","updated_at":"2026-05-04T10:18:46+01:00"}'
  recorded_at: Mon, 04 May 2026 09:19:13 GMT
recorded_with: VCR 6.4.0
