---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/webhook_endpoints?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d20b3dbefce1a9329f393e1e017280b"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"fixture-deletable-webhook-id","url":"https://example.com/zazu-fixture-deletable-8472c6ec","description":"[zazu-ruby-fixture]
        deletable","events":["payment_link.paid"],"status":"active","consecutive_failures":0,"disabled_at":null,"created_at":"2026-05-07T07:16:15+01:00","updated_at":"2026-05-07T07:16:15+01:00"},{"id":"fixture-disabled-webhook-id","url":"https://example.com/zazu-fixture-disabled-7dc34523","description":"[zazu-ruby-fixture]
        disabled","events":["payment_link.paid"],"status":"disabled","consecutive_failures":0,"disabled_at":"2026-05-07T07:16:15+01:00","created_at":"2026-05-07T07:16:15+01:00","updated_at":"2026-05-07T07:16:15+01:00"},{"id":"fixture-enabled-webhook-id","url":"https://example.com/zazu-fixture-enabled-15823c99","description":"[zazu-ruby-fix[...]
