---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/webhook_endpoints/fixture-webhook-id/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"delivery_id":"019e012c-c22d-74f6-bdc0-6a4c00b72adb","status":"queued"}'
  recorded_at: Thu, 07 May 2026 06:42:50 GMT
recorded_with: VCR 6.4.0
