---
http_interactions:
- request:
    method: patch
    uri: https://staging.zazu.ma/api/webhook_endpoints/fixture-webhook-id
    body:
      encoding: UTF-8
      string: '{"description":"Updated description","events":["payment_link.paid"]}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"199af4b26dc65a20167cc61552ab1e64"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fixture-webhook-id","url":"https://example.com/zazu-fixture-primary-f70aefdf","description":"Updated
        description","events":["payment_link.paid"],"status":"active","consecutive_failures":0,"disabled_at":null,"created_at":"2026-05-07T07:42:26+01:00","updated_at":"2026-05-07T07:42:49+01:00"}'
  recorded_at: Thu, 07 May 2026 06:42:49 GMT
recorded_with: VCR 6.4.0
