---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/payment_links
    body:
      encoding: UTF-8
      string: '{"account_id":"019a95c8-5d8a-7864-b2c5-35421d8dc8f2","amount":"100.00","title":"SDK
        fixture","description":"Created by zazu-ruby fixture spec","link_type":"single"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c76ce4642a88765cab022bb9031e08d4"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019df248-b8ed-796e-8954-a7b851a44b21","slug":"DtS6NkV3T9C8","link_type":"single","currency_code":"MAD","title":"SDK
        fixture","description":"Created by zazu-ruby fixture spec","payment_reference":null,"payments_count":0,"max_payments":null,"redirect_url":null,"invoice_id":null,"status":"active","amount":"100.0","url":"https://pay.staging.zazu.ma/payment-link/DtS6NkV3T9C8","expires_at":null,"paid_at":null,"created_at":"2026-05-04T10:19:05+01:00","updated_at":"2026-05-04T10:19:05+01:00","account":{"id":"019a95c8-5d8a-7864-b2c5-35421d8dc8f2","name":"Current
        Account","currency_code":"MAD","rib":"827640000670000000021884"}}'
  recorded_at: Mon, 04 May 2026 09:19:05 GMT
recorded_with: VCR 6.4.0
