---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/payment_links
    body:
      encoding: UTF-8
      string: '{"account_id":"fixture-account-id","amount":"100.00","title":"SDK fixture","description":"Created
        by zazu-ruby fixture spec","link_type":"single"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c92bad39b764dd196c87fb12fd520018"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019e0153-9c68-7f4b-818d-10a7bcb2e1e9","slug":"Yjx7ecS7v71L","link_type":"single","currency_code":"MAD","title":"SDK
        fixture","description":"Created by zazu-ruby fixture spec","payment_reference":null,"payments_count":0,"max_payments":null,"redirect_url":null,"invoice_id":null,"status":"active","amount":"100.0","url":"https://pay.staging.zazu.ma/payment-link/Yjx7ecS7v71L","expires_at":null,"paid_at":null,"created_at":"2026-05-07T08:25:17+01:00","updated_at":"2026-05-07T08:25:17+01:00","account":{"id":"fixture-account-id","name":"Current
        Account","currency_code":"MAD","rib":"<RIB>"}}'
  recorded_at: Thu, 07 May 2026 07:25:17 GMT
recorded_with: VCR 6.4.0
