---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/payment_links/fixture-payment-link-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be8d078eb7ba3c515cdcf34d672ba112"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-payment-link-id","slug":"0QSJinvrRlPz","link_type":"single","currency_code":"MAD","title":"Zazu
        Fixture — primary","description":"[zazu-ruby-fixture] primary","payment_reference":"fixture-primary-0e5cf089","payments_count":0,"max_payments":null,"redirect_url":null,"invoice_id":null,"status":"active","amount":"100.0","url":"https://pay.staging.zazu.ma/payment-link/0QSJinvrRlPz","expires_at":null,"paid_at":null,"created_at":"2026-05-07T08:39:13+01:00","updated_at":"2026-05-07T08:39:13+01:00","account":{"id":"fixture-account-id","name":"Current
        Account","currency_code":"MAD","rib":"<RIB>"}}'
  recorded_at: Thu, 07 May 2026 07:39:32 GMT
recorded_with: VCR 6.4.0
