# Hand-authored against the documented API contract (getzazu/app#2923) —
# the beneficiaries endpoint was not yet deployed to staging when this
# cassette was added. Re-record with `bundle exec rake fixtures:record`
# once it ships (see lib/tasks/fixtures.rake discover_beneficiary_id!).
---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/beneficiaries?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-beneficiary-id","beneficiary_type":"company","email":"fixture-beneficiary@example.com","phone_number":null,"name":"Zazu Fixture Beneficiary Co","external_accounts":[{"id":"fixture-external-account-id","name":"Fixture Main Account","account_number":"007810000123456789012345","bank_identifier":"007","currency_code":"MAD","default":true}],"created_at":"2026-07-01T09:00:00Z"}],"has_more":false,"next_cursor":null}'
  recorded_at: Wed, 16 Jul 2026 10:00:10 GMT
recorded_with: VCR 6.4.0
