---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/accounts/fixture-account-id/transactions/fixture-transaction-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67586b70418de5f1353e2c69fdec7d32"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fixture-transaction-id","account_id":"fixture-account-id","operation":"credit","currency_code":"MAD","internal_transfer":false,"other_name":"yaro","external_id":"11615","provider_name":"chari_money","transfer_id":null,"card_payment_id":null,"card_topup_id":"019df2b2-981c-7287-9a77-903aca2a68df","posting_id":"019df2b2-b12b-741f-aa63-cb647960f18d","amount":"980.0","account_balance_after":"12603.87","source_type":"card_topup","source_id":"019df2b2-981c-7287-9a77-903aca2a68df","transaction_type":"Card
        Top-up","reference":"","label":"Rechargement par carte - yaro","posted_at":"2026-05-04T12:14:49+01:00","value_date":"2026-05-04","created_at":"2026-05-04T12:14:50+01:00","updated_at":"2026-05-04T12:18:05+01:00","account":{"id":"fixture-account-id","name":"Current
        Account","currency_code":"MAD","rib":"827640000670000000021884"}}'
  recorded_at: Mon, 04 May 2026 16:29:20 GMT
recorded_with: VCR 6.4.0
