---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/accounts/019a95c8-5d8a-7864-b2c5-35421d8dc8f2/transactions/019dd934-f9e4-72d4-adab-f7727a069863
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"922080bf847dd0adbf6a8efd51cf5ab3"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019dd934-f9e4-72d4-adab-f7727a069863","account_id":"019a95c8-5d8a-7864-b2c5-35421d8dc8f2","operation":"credit","currency_code":"MAD","internal_transfer":false,"other_name":"+212662801336","external_id":"11524","provider_name":"chari_money","transfer_id":"019dd934-f969-7cf5-8772-e14a57586bb3","card_payment_id":null,"card_topup_id":null,"posting_id":"019dd934-f9d0-7ac5-a53e-75956710e392","amount":"15.0","account_balance_after":"9057.83","source_type":"transfer","source_id":"019dd934-f969-7cf5-8772-e14a57586bb3","transaction_type":"External
        Transfer","reference":"Invoice payment #4","label":"Virement entrant - +212662801336","posted_at":"2026-04-29T13:20:50+01:00","value_date":"2026-04-29","created_at":"2026-04-29T13:27:00+01:00","updated_at":"2026-04-29T13:27:01+01:00","account":{"id":"019a95c8-5d8a-7864-b2c5-35421d8dc8f2","name":"Current
        Account","currency_code":"MAD","rib":"827640000670000000021884"}}'
  recorded_at: Mon, 04 May 2026 09:18:53 GMT
recorded_with: VCR 6.4.0
