---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/accounts?currency_code=MAD&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac45a0798686e0d05fb51b5839962a9e"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-account-id","name":"Current Account","status":"open","currency_code":"MAD","balance":"39449.98","created_at":"2025-11-18T08:05:27+01:00","updated_at":"2026-05-07T04:58:25+01:00","rib":"<RIB>"}],"has_more":false,"next_cursor":null}'
  recorded_at: Thu, 07 May 2026 07:39:18 GMT
recorded_with: VCR 6.4.0
