---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/invoices
    body:
      encoding: UTF-8
      string: '{"customer_id":"","currency_code":"MAD","issue_date":"2026-05-03","due_date":"2026-06-03","items":[{"description":"SDK
        fixture line","quantity":1,"unit_price":"100.00"}]}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c306b34645d03f092aaef82f26797c2"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019dedf9-4417-75f2-9efb-91992aba1d98","number":"F-202605/002","status":"pending_approval","currency_code":"MAD","issue_date":"2026-05-03","due_date":"2026-06-03","reference":null,"notes":null,"payment_terms":null,"send_to_email":null,"credited_invoice_id":null,"subtotal":"100.0","discount_total":"0.0","tax_total":"20.0","total":"120.0","sent_at":null,"paid_at":null,"created_at":"2026-05-03T14:13:49+01:00","updated_at":"2026-05-03T14:13:49+01:00","credit_note":false,"credit_notes":[],"customer":{"id":null,"name":null,"email":null,"phone":null,"tax_id":null,"ice_number":null},"billing_address":null,"items":[{"id":"019dedf9-443d-7fc4-a948-c56e0e48ffba","description":"SDK
        fixture line","position":0,"quantity":"1.0","unit_price":"100.0","tax_rate":"0.2","amount":"100.0"}],"discounts":[],"payment_link":null}'
  recorded_at: Sun, 03 May 2026 13:13:49 GMT
recorded_with: VCR 6.4.0
