---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/invoices?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fff2a4601f82816811cefa892533859"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-deletable-invoice-id","number":"F-202605/004","status":"pending_approval","currency_code":"MAD","issue_date":"2026-05-07","due_date":"2026-06-06","reference":"zazu-ruby-fixture-v1-inv-1","notes":"[zazu-ruby-fixture]
        draft 1","payment_terms":null,"send_to_email":null,"credited_invoice_id":null,"subtotal":"100.0","discount_total":"0.0","tax_total":"20.0","total":"120.0","sent_at":null,"paid_at":null,"created_at":"2026-05-07T08:39:12+01:00","updated_at":"2026-05-07T08:39:12+01:00","credit_note":false,"customer":{"id":"fixture-customer-id","name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","email":"fixture-primary-10582c98@example.com"},"items_count":1,"discounts_count":0,"payment_link_url":null},{"id":"fixture-invoice-id","number":"F-202605/003","status":"pending_approval","currency_code":"MAD","issue_date":"2026-05-07","due_date":"2026-06-06","reference":"zazu-ruby-fixture-v1-inv-0","notes":"[zazu-ruby-fixture]
        draft 0","payment_terms":null,"send_to_email":null,"credited_invoice_id":null,"subtotal":"100.0","discount_total":"0.0","tax_total":"20.0","total":"120.0","sent_at":null,"paid_at":null,"created_at":"2026-05-07T08:39:12+01:00","updated_at":"2026-05-07T08:39:12+01:00","credit_note":false,"customer":{"id":"fixture-customer-id","name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","email":"fixture-primary-10582c98@example.com"},"items_count":1,"discounts_count":0,"payment_link_url":null}],"has_more":false,"next_cursor":null}'
  recorded_at: Thu, 07 May 2026 07:39:28 GMT
recorded_with: VCR 6.4.0
