---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/checkout_sessions
    body:
      encoding: UTF-8
      string: '{"account_id":"fixture-account-id","amount":"100.00","success_url":"https://example.com/zazu-fixture-success?session_id={CHECKOUT_SESSION_ID}","cancel_url":"https://example.com/zazu-fixture-cancel","description":"Created
        by zazu-ruby fixture spec","customer_email":"fixture@example.com","metadata":{"order_id":"ORD-FIXTURE"}}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1aa175dc22a20522ea0283eea6b7274c"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"currency_code":"MAD","metadata":{"order_id":"ORD-FIXTURE"},"customer_email":"fixture@example.com","description":"Created
        by zazu-ruby fixture spec","cancel_url":"https://example.com/zazu-fixture-cancel","id":"cs_xImeCASnT2rUlFwMCajaiJg8","url":"https://pay.staging.zazu.ma/checkout/cs_xImeCASnT2rUlFwMCajaiJg8","status":"open","amount":"100.0","success_url":"https://example.com/zazu-fixture-success?session_id=cs_xImeCASnT2rUlFwMCajaiJg8","expires_at":"2026-05-07T08:55:05+01:00","completed_at":null,"created_at":"2026-05-07T08:25:05+01:00"}'
  recorded_at: Thu, 07 May 2026 07:25:05 GMT
recorded_with: VCR 6.4.0
