---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/customers
    body:
      encoding: UTF-8
      string: '{"customer_type":"business","company_name":"Zazu SDK Fixture Co","email":"fixture@example.com","ice_number":"000000000000000"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"005a5b308cd86958519e5aab30139bb0"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019dedf9-2e03-76bf-9ff4-81ee6ee9d741","person_name":null,"company_name":"Zazu
        SDK Fixture Co","email":"fixture@example.com","phone":null,"tax_id":null,"ice_number":"000000000000000","customer_type":"business","name":"Zazu
        SDK Fixture Co","created_at":"2026-05-03T14:13:43+01:00","updated_at":"2026-05-03T14:13:43+01:00","billing_address":null}'
  recorded_at: Sun, 03 May 2026 13:13:43 GMT
recorded_with: VCR 6.4.0
