---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/customers
    body:
      encoding: UTF-8
      string: '{"customer_type":"business","company_name":"Zazu SDK Fixture Co (zazu-ruby-fixture-v1-spec)","email":"create-spec@zazu-ruby-fixture.example.com","ice_number":"000000000000000"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8cb76e4ea94b1e3a56a7ba38eb0bce37"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019e012c-8a38-72df-b80e-bcb5ac20ab40","person_name":null,"company_name":"Zazu
        SDK Fixture Co (zazu-ruby-fixture-v1-spec)","email":"create-spec@zazu-ruby-fixture.example.com","phone":null,"tax_id":null,"ice_number":"000000000000000","customer_type":"business","name":"Zazu
        SDK Fixture Co (zazu-ruby-fixture-v1-spec)","created_at":"2026-05-07T07:42:36+01:00","updated_at":"2026-05-07T07:42:36+01:00","billing_address":null}'
  recorded_at: Thu, 07 May 2026 06:42:36 GMT
recorded_with: VCR 6.4.0
