---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/customers
    body:
      encoding: UTF-8
      string: '{"customer_type":"business","company_name":"Zazu SDK Fixture Co (zazu-ruby-fixture-v1-spec)","email":"create-spec@zazu-ruby-fixture.example.com","ice_number":"000000000000000"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62b0e20fbe8df20cbb22c98d5adad530"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"019e0160-8cd9-7909-ab32-192915b84020","person_name":null,"company_name":"Zazu
        SDK Fixture Co (zazu-ruby-fixture-v1-spec)","email":"create-spec@zazu-ruby-fixture.example.com","phone":null,"tax_id":null,"ice_number":"000000000000000","customer_type":"business","name":"Zazu
        SDK Fixture Co (zazu-ruby-fixture-v1-spec)","created_at":"2026-05-07T08:39:25+01:00","updated_at":"2026-05-07T08:39:25+01:00","billing_address":null}'
  recorded_at: Thu, 07 May 2026 07:39:25 GMT
recorded_with: VCR 6.4.0
