---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/customers?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4533b18388dd7792a06d1af2cf716f0a"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-deletable-customer-id","person_name":null,"company_name":"Zazu
        Fixture Co — deletable (zazu-ruby-fixture-v1)","email":"fixture-deletable-3afa466a@example.com","phone":null,"tax_id":null,"ice_number":"145910077947577","customer_type":"business","name":"Zazu
        Fixture Co — deletable (zazu-ruby-fixture-v1)","invoices_count":0,"created_at":"2026-05-07T08:24:56+01:00","updated_at":"2026-05-07T08:24:56+01:00","billing_address":null},{"id":"fixture-customer-id","person_name":null,"company_name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","email":"fixture-primary-6598b291@example.com","phone":null,"tax_id":null,"ice_number":"341945545230099","customer_type":"business","name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","invoices_count":2,"created_at":"2026-05-07T08:24:55+01:00","updated_at":"2026-05-07T08:24:55+01:00","billing_address":null}],"has_more":false,"next_cursor":null}'
  recorded_at: Thu, 07 May 2026 07:25:06 GMT
recorded_with: VCR 6.4.0
