# Hand-authored against the documented API contract (getzazu/app#2923) —
# the transfer_drafts endpoint was not yet deployed to staging when this
# cassette was added. Re-record with `bundle exec rake fixtures:record`
# once it ships (see lib/tasks/fixtures.rake seed_transfer_draft!).
---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/transfer_drafts/fixture-transfer-draft-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-transfer-draft-id","status":"requested","currency_code":"MAD","payment_reference":"SDK fixture","account_id":"fixture-account-id","beneficiary_id":"fixture-beneficiary-id","external_account_id":"fixture-external-account-id","amount":"150.0","destination_account_id":null,"transfer":null,"created_at":"2026-07-16T10:00:00Z","updated_at":"2026-07-16T10:00:00Z"}'
  recorded_at: Wed, 16 Jul 2026 10:00:05 GMT
recorded_with: VCR 6.4.0
