---
http_interactions:
- request:
    method: get
    uri: https://staging.zazu.ma/api/entity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07289f8c47f358366804e981e3054870"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019a95b0-2931-76a2-8136-33ad61357535","name":"Zazu Dev Team","created_at":"2025-11-18T07:39:01+01:00"}'
  recorded_at: Mon, 04 May 2026 09:18:57 GMT
recorded_with: VCR 6.4.0
